body {
  margin: 0;
}

.exemplo {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background-color: red;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 2em;
  transition: all 1s linear;
}
.exemplo p {
  padding-top: 40%;
}
/* 
linear começa e termina igual
*/
.exemplo:hover {
  width: 300px;
  height: 300px;
  color: white;
  background-color: black;
}