.container {
  background-color: gray;
  display: grid;
  gap: 5px;
  grid-template-areas: 
    "header header header header header"
    "menu menu content content content"
    "footer footer footer footer ad"
  ;
}

.item {
  background-color: blue;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
}
header {
  grid-area: header;
}
nav {
  grid-area: menu;
}
section {
  grid-area: content;
}
footer {
  grid-area: footer;
}
.ad {
  grid-area: ad;
}