.button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.button:hover {
  background-color: red;
}
.square {
  background-color: red;
  padding: 30px;
}
.legend {
  color: rgb(0, 255, 0);
  font-weight: bold;
}