{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
  Como vai a vida?
{{/showOld}}
{{^showOld}}
  Beleza?
{{/showOld}}

<h2>Usuários do Banco</h2>
<ul>
  {{#usuarios}}
    <li>
      <strong>Nome:</strong> {{name.firstName}} {{name.lastName}}, <strong>Idade:</strong> {{age}} <strong>Email:</strong> {{email}}<br>
      <strong>Interesses:</strong> {{interests}}
    </li>
  {{/usuarios}}
</ul>

<hr/>
<h2>Produtos</h2>
<ul>
  {{#products}}
    {{>partials/productItem}}
  {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
  {{#expensives}}
    {{>partials/productItem}}
  {{/expensives}}
</ul>

<hr/>

<ul>
  {{#frasesDoDia}}
    <li>{{.}}</li>
  {{/frasesDoDia}}
  {{^frasesDoDia}}
    Não há frases motivacionais hoje.
  {{/frasesDoDia}}
</ul>

{{>partials/footer}}